In [67]:
import numpy as np
import pandas as pd

In [68]:
df = pd.read_csv("final_output.csv").iloc[:, 1:]

In [69]:
df.sample()

,is_verified,timestamp,face_path,eye_state,head_yaw,head_pitch
2,True,2025-04-01T09:51:19.175424,faces\face_1743481279175.jpg,1,-24.96,176.6

In [70]:
df.drop('is_verified', axis=1, inplace=True)

In [71]:
df.sample()

,timestamp,face_path,eye_state,head_yaw,head_pitch
0,2025-04-01T09:51:14.056781,faces\face_1743481274056.jpg,1,2.29,-170.29

In [72]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [73]:
df['seconds'] = df['timestamp'].dt.second

In [74]:
df

,timestamp,face_path,eye_state,head_yaw,head_pitch,seconds
0,2025-04-01 09:51:14.056781,faces\face_1743481274056.jpg,1,2.29,-170.29,14
1,2025-04-01 09:51:17.261808,faces\face_1743481277261.jpg,1,11.16,-170.65,17
2,2025-04-01 09:51:19.175424,faces\face_1743481279175.jpg,1,-24.96,176.60,19
3,2025-04-01 09:51:20.905521,faces\face_1743481280905.jpg,1,-2.60,-169.63,20
4,2025-04-01 09:51:22.506217,faces\face_1743481282506.jpg,1,4.35,-173.86,22
5,2025-04-01 09:51:24.127762,faces\face_1743481284127.jpg,1,-1.88,-173.24,24
6,2025-04-01 09:51:25.730369,faces\face_1743481285730.jpg,0,-2.07,-174.65,25
7,2025-04-01 09:51:27.331588,faces\face_1743481287331.jpg,1,25.04,-168.69,27
8,2025-04-01 09:51:28.919909,faces\face_1743481288919.jpg,1,-22.85,-170.55,28
9,2025-04-01 09:51:30.526973,faces\face_1743481290526.jpg,1,14.35,-173.90,30
10,2025-04-01 09:51:33.532231,faces\face_1743481293532.jpg,1,13.11,-172.12,33
11,2025-04-01 09:51:35.096065,faces\face_1743481295096.jpg,1,-10.20,-172.72,35